<div class="pt-4 container content__product mb-5">
    <div class="title__product d-flex align-items-center">
        <p>Trang chủ > Sản phẩm</p>
    </div>
    <div class="row content__product__title">
        <div class="col-md-9 d-flex">
            <strong class="align-self-center content__product__title__strong">SẢN PHẨM</strong>
            <select class="ml-auto"
                style="background-image: url('../../../assets/images/iconfinder_arrow_sans_down_103299.png');">
                <option>Mới nhất</option>
                <option>Cũ nhất</option>
            </select>
        </div>
        <div class="col-md-3 input-group d-flex">
            <input type="text" class="form-control input__search" placeholder="Tìm kiếm">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="content__product__border mt-2"></div>
    <div class="row mt-4">
        <div class="col-md-9 col-sm-6">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="content__product__menu__title">
                <p>DANH MỤC</p>
            </div>
            <div style="border: 1px solid #c4c4c4">
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Trang điểm</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Dành cho mắt</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Mascara</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Dầu dưỡng</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Dưỡng mi</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Dành cho môi</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Son 4 mùa</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Son dưỡng</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Túi đựng mỹ phẩm</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Làm đẹp móng</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Nhũ móng</p>
                </div>
                <div class="content__product__menu__child d-flex">
                    <div class="w-100">
                        <p class="content__product__menu__child__p"><a routerLink="/products/perfume"
                                routerLinkActive="actived">Nước hoa</a></p>
                    </div>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Carolina Herrera</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Blue de Chanel</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Nước hoa Mỹ</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Chanel sport</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Mont Blanc Legend</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Versace hồng</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Nước hoa hàn</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Versace eros</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Chăm sóc da mặt</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Dưỡng da</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Dành cho nam</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Chăm sóc tóc</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Chăm sóc móng</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Phụ kiện nữ</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Tinh dầu & spa</p>
                </div>
            </div>
            <div class="content__product__menu__title mt-5">
                <p>TRỌNG LƯỢNG</p>
            </div>
            <div style="border: 1px solid #c4c4c4">
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">0,1 kg</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">0,2 kg</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">0,3 kg</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">0,4 kg</p>
                </div>
            </div>
            <div class="content__product__menu__title mt-5">
                <p>MÀU SẮC</p>
            </div>
            <div style="border: 1px solid #c4c4c4">
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Trắng</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Hồng</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Tím</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Xanh Coban</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Đỏ</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Xanh</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Đen</p>
                </div>
            </div>
            <div class="content__product__menu__title mt-5">
                <p>NƠI SẢN XUẤT</p>
            </div>
            <div style="border: 1px solid #c4c4c4">
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Hàn Quốc</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Đài Loan</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Việt Nam</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Nhật Bản</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Thái Lan</p>
                </div>
                <div class="content__product__menu__child">
                    <p class="content__product__menu__child__p">Mỹ</p>
                </div>
            </div>
        </div>
    </div>
</div>