<div class="pt-4 content__new container">
    <div class="title__new">
        <p>Trang chủ > Tin tức</p>
    </div>
    <div class="row pt-3">
        <div class="col-md-9 col-sm-6">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="news__sale__support text-center">
                <div>
                    <img class="py-4" src="assets/images/person.png">
                </div>
                <strong class="news__support__strong">HỖ TRỢ BÁN HÀNG</strong>
                <div class="text-white pt-3">
                    <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;<span>Phone: 0962 180 180</span>
                </div>
                <div class="text-white pt-3">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;<span>Email: info@vmms.vn</span>
                </div>
            </div>
            <img class="new__banner__fastsale pt-5" src="assets/images/banner-ban-chay.png">
        </div>
    </div>
</div>