<div class="dropdown-container">
    <div class="row">
        <div class="col-sm-4 col-6">
            <p class="title_menu_bar pl-0">DÀNH CHO MẮT</p>
            <div class="row">
                <div class="col-2">
                    <span class="Ellipse left mt-1 ml-0"></span>
                </div>
                <div class="col-9 pl-0">
                    <a href="/detail_product">
                        <p class="description_menu_bar pt-0 pl-3 ">Mascara</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <span class="Ellipse left mt-1 ml-0"></span>
                </div>
                <div class="col-9 pl-0">
                    <a href="/detail_product">
                        <p class="description_menu_bar pt-0 pl-3 ">Dầu dưỡng</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <span class="Ellipse left mt-1 ml-0"></span>
                </div>
                <div class="col-9 pl-0">
                    <a href="/detail_product">
                        <p class="description_menu_bar pt-0 pl-3 ">Dưỡng mi</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-6">
            <p class="title_menu_bar pl-0">DÀNH CHO MÔI</p>
            <div class="row">
                <div class="col-2">
                    <span class="Ellipse left mt-1 ml-0"></span>
                </div>
                <div class="col-9 pl-0">
                    <a href="/detail_product">
                        <p class="description_menu_bar pt-0 pl-3 ">Son thỏi</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <span class="Ellipse left mt-1 ml-0"></span>
                </div>
                <div class="col-9 pl-0">
                    <a href="/detail_product">
                        <p class="description_menu_bar pt-0 pl-3 ">Son kem</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <span class="Ellipse left mt-1 ml-0"></span>
                </div>
                <div class="col-9 pl-0">
                    <a href="/detail_product">
                        <p class="description_menu_bar pt-0 pl-3 ">Son tint</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-6">
            <p class="title_menu_bar pl-0">LÀM ĐẸP MÓNG</p>
            <div class="row">
                <div class="col-2">
                    <span class="Ellipse left mt-1 ml-0"></span>
                </div>
                <div class="col-9 pl-0">
                    <a href="/detail_product">
                        <p class="description_menu_bar pt-0 pl-3 ">Nhũ móng</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <span class="Ellipse left mt-1 ml-0"></span>
                </div>
                <div class="col-9 pl-0">
                    <a href="/detail_product">
                        <p class="description_menu_bar pt-0 pl-3 ">Sơn móng</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>