.errors {
  color: red;
  text-align: center;
}

.link-contact {
  color: rgb(0, 82, 204);
  ;
}

#forgot-password-page {
  width: 50%;
  margin: 0 auto;
  padding-right: 100px;
  padding-left: 100px;
  background: #fff;

  h2 {
    padding-top: 130px;
    padding-bottom: 60px;
    color: #333333;
    font-size: 20px;
    font-family: Roboto-Regular;
  }

}

::ng-deep {
  .float-label {
    font-size: 20px;
    font-family: Roboto-Regular;
    padding-bottom: 10px;
  }

  input {
    font-size: 16px;
    padding-left: 20px;
    color: #333333;
    background-color: #FAFAFA;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    font-family: Roboto-Regular;
    margin-bottom: 45px;
    height: 50px !important;
  }

  button.ripple {
    display: block;
    width: 100%;
    background: #f13d62 !important;
    font-family: Roboto-Regular;
    outline: none;
    border: 1px solid #a82842;
    font-size: 16px;
    border-radius: 5px;
    border-color: #A82842 !important;
    margin-bottom: 260px;
    height: 50px;
  }
}

@media(max-width:991px) {
  #forgot-password-page h2 {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  #forgot-password-page {
    padding-left: 20px;
    padding-right: 20px;
  }
  #forgot-password-page {
    width: 100%;
  }
}

@media(max-width:480px) {
  ::ng-deep {
    .float-label {
      font-size: 13px;
    }
  }
}
