<div class="content__contact pt-4 container">
    <div class="title__new">
        <p>Trang chủ > Tin tức</p>
    </div>
    <h5 class="text-center mt-5"><strong>LIÊN HỆ</strong></h5>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-6 contact__form">
                <label>Họ tên:</label>
                <input type="text" placeholder="Nhập họ tên" class="contact__input">
                <br /><br />
                <label>Email:</label>
                <input type="text" placeholder="Nhập email" class="contact__input">
                <br /><br />
                <label>Điện thoại:</label>
                <input type="text" placeholder="Nhập số điện thoại" class="contact__input">
                <br /><br />
                <label>Địa chỉ:</label>
                <input type="text" placeholder="Nhập địa chỉ" class="contact__input">
            </div>
            <div class="col-md-4 col-sm-6">
                <label>Nội dung:</label>
                <textarea type="text" class="contact__textarea contact__input"></textarea>
                <div class="text-center">
                    <button class="btn" type="button">Gửi</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <p>Văn phòng</p>
                <h5><strong>WEBSITE SẢN PHẨM BÁN HÀNG</strong></h5>
                <p>Địa chỉ: tầng 2, số 42, ngõ 178 Thái Hà, Trung Liệt, Đống Đa, Hà Nội.</p>
                <p>Hãy liên hệ với chúng tôi để có một sản phẩm tốt nhất cho bạn!</p>
            </div>
        </div>
        <div class="mt-5 mb-5">
            <iframe class="content__contact__map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.462181800306!2d105.81854421440714!3d21.01418519365277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab7c5b98159d%3A0x3d64918eb33c3a4b!2zNDIgTmfDtSAxNzggVGjDoWkgSMOgLCBUcnVuZyBMaeG7h3QsIMSQ4buRbmcgxJBhLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1589794483574!5m2!1svi!2s"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0">
            </iframe>
        </div>
</div>