<div class="homepage">
    <div class="col-xl-3 col-12 col-sm-12 col-md-4 col-lg-3  sidebar">
        <div class="categories">
            <div class="menu_title">
                <p>DANH MỤC</p>
            </div>
            <div class="categories__body">
                <div class="sidenav">
                    <div class="category">
                        <div class="dropdown-btn d-flex">
                            TRANG ĐIỂM<i class="fa fa-caret-right ml-auto" aria-hidden="true"></i>
                        </div>
                        <app-dropdown-menu-detail></app-dropdown-menu-detail>
                        <div class="dropdown-btn d-flex">
                            NƯỚC HOA<i class="fa fa-caret-right ml-auto" aria-hidden="true"></i>
                        </div>
                        <app-dropdown-menu-detail></app-dropdown-menu-detail>
                        <div class="dropdown-btn d-flex">
                            CHĂM SÓC DA MẶT<i class="fa fa-caret-right ml-auto" aria-hidden="true"></i>
                        </div>
                        <app-dropdown-menu-detail></app-dropdown-menu-detail>
                        <div class="dropdown-btn d-flex">
                            DƯỠNG DA<i class="fa fa-caret-right ml-auto" aria-hidden="true"></i>
                        </div>
                        <app-dropdown-menu-detail></app-dropdown-menu-detail>
                        <div class="dropdown-btn d-flex">
                            DÀNH CHO NAM<i class="fa fa-caret-right ml-auto" aria-hidden="true"></i>
                        </div>
                        <app-dropdown-menu-detail></app-dropdown-menu-detail>
                        <div class="dropdown-btn d-flex">
                            CHĂM SÓC TÓC
                        </div>
                        <app-dropdown-menu-detail></app-dropdown-menu-detail>
                        <div class="dropdown-btn d-flex">
                            CHĂM SÓC MÓNG
                        </div>
                        <app-dropdown-menu-detail></app-dropdown-menu-detail>
                        <div class="dropdown-btn d-flex">
                            PHỤ KIỆN NỮ
                        </div>
                        <app-dropdown-menu-detail></app-dropdown-menu-detail>
                        <div class="dropdown-btn d-flex">
                            TINH DẦU & SPA
                        </div>
                        <app-dropdown-menu-detail></app-dropdown-menu-detail>
                        <div class="dropdown-btn d-flex" style="border-bottom: 1px solid #c4c4c4">
                            XEM THÊM<i class="fa fa-plus icon_right ml-auto" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>