<div class="container cover__all__about">
    <div class="title__page">
        <p><a href="/">Trang chủ</a> > Giới thiệu</p>
    </div>
    <div class="container pt-0 pl-0">
        <div class="row pt-0">
            <div class="col-xl-8 pt-0">
                <div class="contact--css">
                    <p>Thời trang là nền tảng của cuộc sống, trong mỗi chúng ta ai ai cũng đều định hình cho mình một
                        phong cách thời trang thể hiện cá tính và phù hợp với môi trường làm việc, tự tin trong cuộc
                        sống.</p>
                    <p>Shop thời trang là shop tiên phong trong lĩnh vực thời trang, cung cấp sỉ và lẻ hàng xách tay như
                        quần áo, túi xách, giày dép, thắt lưng, và một số trang sức phụ kiện khác...</p>
                    <p>Phân phối rộng rãi trên thị trường, giới thiệu đến khách hàng những mẫu mã mới nhaát phù hợp với
                        xu hướng thời trang hiện nay. Shop thời trang thường xuyên tổ chức chương trình event và khuyến
                        mãi lớn dành cho những khách hàng quen thuộc diễn ra hàng năm để tỏ lòng tri ân mà khách hàng đã
                        dành cho shop.</p>
                    <p>Tuy xuất hiện trên thị trường chỉ hơn một năm qua nhưng Shop thời trang chiếm được cảm tình của
                        đông đảo khách hàng và cung cách phục vụ và giá cả phải chăng,với phương châm “đáp ứng mọi nhu
                        cầu khách hàng cần”. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8">
                <div class="comment__contact">
                </div>
                <div class="pt-5 d-flex">
                    <span style="font-weight: 500" class="comment__text">0 bình luận</span>
                    <div class="d-flex ml-auto">
                        <span class="ml-auto comment__text">Sắp xếp theo</span>
                        <div class="pl-2">
                            <select class="Rectangle__select">
                                <option>Cũ nhất</option>
                                <option>Mới nhất</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="comment__contact__brick"></div>
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-1 ml-0 pl-0 ">
                            <div class="ml-0 pl-0">
                                <img src="assets/icons/Mask Group 25@2x.png" class="comment__contact__Mask">
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="pl-0">
                                <input style="margin-bottom: 199px;margin-left: 17px;"
                                    class="comment__contact__input w-100" type="text" name=""
                                    placeholder=" Thêm bình luận...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>