<div class="pb-5 content__new">
    <strong>Kem đặc trị mụn bọc, mụn mủ, mụn đầu đen thảo dược Mẹ Ken</strong>
    <div class="pt-2">
        <i class="fa fa-clock-o pr-2 img__time" aria-hidden="true"></i>
        <span class="pr-3">10:30 SA</span>
        <i class="fa fa-calendar pr-2 img__time" aria-hidden="true"></i>
        <span>Thứ 2, 11/11/2019</span>
    </div>
    <div class="pt-2">
        <img class="img__product" src="assets/images/trị mun 2.png">
    </div>
    <div class="pt-4">
        <p>👍 HOÀN TOÀN THIÊN NHIÊN AN TOÀN TUYỆT ĐỐI CHO PHỤ NỮ CÓ THAI VÀ CHO CON BÚ<br />
            👍 SẢN PHẨM ĐƯỢC SỞ Y TẾ VÀ CÔNG TY THUỘC TẬP ĐOÀN KIỂM ĐỊNH UY TÍN QUỐC TẾ EUROFINS CHỨNG NHẬN AN
            TOÀN TRƯỚC KHI TUNG RA THỊ TRƯỜNG<br />
            ----------------------------------------------------<br />
            🌞 Hơn 40 Đại Lý toàn quốc đã test trên từng loại da của mình và cảm nhận sự tin tưởng về tính hiệu
            quả hoàn toàn.<br />
            🌞 Hiệu quả sau 10 ngày sử dụng<br />
            🌞 Vì là kem đặc trị nên bạn chỉ cần dùng từ 1-2 hủ, để khi da có cải thiện đáng kể là bạn chuyển
            qua xài dòng kem dưỡng phục hồi của riêng bạn (bất cứ loại nào bạn thấy an toàn), hoặc dùng kem
            dưỡng phục hồi MẸ KEN.<br />
            ----------------------------------------------------<br />
            🔥 CÔNG DỤNG: làm khô dần Mụn mủ, mụn đỏ, làm rụng mụn đầu đen ở mũi sau 10 ngày... và đặc biệt vết
            thâm sẽ sáng ra 1 ít, da sẽ bớt xỉn dầu hơn...<br />
            🔥 THÀNH PHẦN: TRÍCH LI đặc biệt từ CÂY CỎ SỮA, chiết xuất trà xanh, chiết xuất tía tô, chiết xuất
            chất nhầy trong mồng tơi, chiết xuất lá dâu tằm, sáp đậu nành, vitamin E...<br />
            🔥 CÁCH DÙNG: chỉ đánh lớp mỏng cho toàn bộ vùng mặt trước khi đi ngủ. Giữ nắng khi đang điều trị để
            có kết quả tốt nhất. Kem có tác dụng điều tiết bã nhờn nên da sẽ có tình trạng giảm nhờn dần
            dần..<br />
            -----------------------------------------------------<br />
            💫💫💫 CHUYÊN CẦN VÀ LÀM THEO LỜI MẸ KEN HƯỚNG DẪN - NẾU KHÔNG HIỆU QUẢ có thể TẨY CHAY MẸ KEN
            LUÔN👍<br />
            🌞Giá : 380k (30ml sử dụng được 3 tháng)<br />
            💫💫💫 Bảo quản sản phẩm nhiệt độ mát dưới 30oC.<br />
            Sử dụng được 2 năm kể từ ngày sản xuất<br />
            Sản xuất bởi DNTN MẸ KEN
        </p>
    </div>
    <div class="pt-5 d-flex">
        <strong>0 bình luận</strong>
        <div class="d-flex ml-auto">
            <strong class="ml-auto">Sắp xếp theo</strong>
            <div class="pl-2">
                <select class="Rectangle__select">
                    <option>Cũ nhất</option>
                    <option>Mới nhất</option>
                </select>
            </div>
        </div>
    </div>
    <div class="detail__new__space col-12 pt-3"></div>
    <div class="col-xl-12">
        <div class="row">
            <div class="col-1 ml-0 pl-0 ">
                <div class="ml-0 pl-0">
                    <img src="assets/icons/Mask Group 25@2x.png" class="comment__contact__Mask">
                </div>
            </div>
            <div class="col-11">
                <div class="pl-0">
                    <input style="margin-bottom: 199px;margin-left: 17px;" class="comment__contact__input w-100"
                        type="text" name="" placeholder=" Thêm bình luận...">
                </div>
            </div>
        </div>
    </div>
</div>