<div class="content__new">
  <a routerLink="/news/detail"><strong>Kem đặc trị mụn bọc, mụn mủ, mụn đầu đen thảo dược Mẹ Ken</strong></a>
  <div class="pt-2">
    <i class="fa fa-clock-o img__time" aria-hidden="true"></i>
    <span class="pr-3">10:30 SA</span>
    <i class="fa fa-calendar img__time" aria-hidden="true"></i>
    <span>Thứ 2, 11/11/2019</span>
  </div>
  <div class="pt-2">
    <a routerLink="/news/detail"><img class="img__product" src="assets/images/trị mun 2.png"></a>
  </div>
  <div class="d-flex py-4 description__product">
    <p>Hoàn toàn thiên nhiên an toàn tuyệt đối cho phụ nữ có thai và cho con bú</p>
    <div class="news__link ml-auto">
      <a class="nav-link" routerLink="/news/detail">Xem thêm</a>
    </div>
  </div>
  <div class="pt-4">
    <a routerLink="/news/detail"><strong>Mặt nạ collagen tươi bì heo dùng sao cho hiệu quả</strong></a>
    <div class="pt-2">
      <i class="fa fa-clock-o img__time" aria-hidden="true"></i>
      <span class="pr-3">10:30 SA</span>
      <i class="fa fa-calendar img__time" aria-hidden="true"></i>
      <span>Thứ 2, 11/11/2019</span>
    </div>
  </div>
  <div class="pt-2">
    <a routerLink="/news/detail"><img class="img__product" src="assets/images/trị mun 6(1).png"></a>
  </div>
  <div class="d-flex py-4 description__product">
    <p>Dùng mặt nạ COLLAGEN bì heo tí. Loại này dùng rất thích nhưng phải đúng cách</p>
    <div class="news__link ml-auto">
      <a class="nav-link" routerLink="/news/detail">Xem thêm</a>
    </div>
  </div>
  <div class="pt-4">
    <a routerLink="/news/detail"><strong>Sao Việt mặc đẹp cùng màu thanh nhã</strong></a>
    <div class="pt-2">
      <i class="fa fa-clock-o img__time" aria-hidden="true"></i>
      <span class="pr-3">10:30 SA</span>
      <i class="fa fa-calendar img__time" aria-hidden="true"></i>
      <span>Thứ 2, 11/11/2019</span>
    </div>
  </div>
  <div class="pt-2">
    <a routerLink="/news/detail"><img class="img__product" src="assets/images/sa.png"></a>
  </div>
  <div class="d-flex py-4">
    <p>Đặng Thu Thảo, Angela Phương Trinh sành điệu với trang phục có tông màu dịu mắt</p>
    <div class="news__link ml-auto">
      <a class="nav-link" routerLink="/news/detail">Xem thêm</a>
    </div>
  </div>
</div>