<div class="homepage mb-5">
    <div class="row">
        <div class="col-md-3 col-12 menu_left left">
            <app-dropright-menu></app-dropright-menu>
        </div>
        <div class="col-12 menu_left_mobile left">
            <app-dropdown-menu></app-dropdown-menu>
        </div>
        <div class="col-md-9 col-12 mt-2 div--position">
            <div class="row">
                <div class="col-md-9 img__padding__left mb-2">
                    <img class="img_left w-100" src="assets/images/bn1.png">
                </div>
                <div class="col-md-3 img__padding__left">
                    <img class="img_right w-100 mb-2" src="assets/images/2019_photo.png">
                    <img class="img_right w-100" src="assets/images/kinh-doanh-my-pham-1.png">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4 col-sm-6 pb-3 event__padding">
                    <div class="event_title event_title_one">
                        <p class="event_title_p">QUÀ TẶNG MỖI NGÀY</p>
                    </div>
                    <div class="event_child_general text-center pt-3">
                        <p class="event__p--font">TẶNG 1 SẢN PHẨM</p>
                        <a href="/detail_product">
                            <p class="event__p--color">XEM NGAY ></p>
                        </a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6 event__padding">
                    <div class="event_title event_title_two">
                        <p class="event_title_p">CHƯƠNG TRÌNH KHUYỄN MÃI TUẦN NÀY</p>
                    </div>
                    <div class="event_child_general text-center pt-3">
                        <p class="event__p--font">GIẢM GIÁ 50% BỘ TRANG ĐIỂM</p>
                        <a href="/detail_product">
                            <p class="event__p--color">XEM NGAY ></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 homepage__title">
        <strong class="homepage__title__strong">SẢN PHẨM MỚI</strong>
    </div>
    <div class="row pt-4 new__product--resposive">
        <div class="col-md-3">
            <div class="new__product text-center mb-2">
                <div>
                    <img class="py-4" src="assets/images/person.png">
                </div>
                <strong class="new__product__strong">HỖ TRỢ BÁN HÀNG</strong>
                <div class="text-white pt-3 div__padding--res">
                    <i class="fa fa-phone new__product__icon" aria-hidden="true"></i>&nbsp;&nbsp;<span>Phone: 0962 180
                        180</span>
                </div>
                <div class="text-white pt-3 div__padding--res">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;<span>Email: info@vmms.vn</span>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3 mb-2">
                    <a href="/detail_product">
                        <img class="img__selling__product" src="assets/images/duong-da.png">
                        <div class="selling__products__spbc text-center pt-3">
                            <p class="selling__products__p--color">Bộ dưỡng da trà xanh</p>
                            <p class="selling__products__p--font">Giá: 500.000 vnđ</p>
                            <p class="text-muted selling__products__p--props">800.000 vnđ</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 mb-2">
                    <a href="/detail_product">
                        <img class="img__selling__product" src="assets/images/image007(45).png">
                        <div class="selling__products__spbc text-center pt-3">
                            <p class="selling__products__p--color">Bộ dưỡng da trà xanh</p>
                            <p class="selling__products__p--font">Giá: 500.000 vnđ</p>
                            <p class="text-muted selling__products__p--props">800.000 vnđ</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 mb-2">
                    <a href="/detail_product">
                        <img class="img__selling__product" src="assets/images/my-pham-cham-sco-da-mat-1 (1).png">
                        <div class="selling__products__spbc text-center pt-3">
                            <p class="selling__products__p--color">Bộ dưỡng da trà xanh</p>
                            <p class="selling__products__p--font">Giá: 500.000 vnđ</p>
                            <p class="text-muted selling__products__p--props">800.000 vnđ</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 mb-2">
                    <a href="/detail_product">
                        <img class="img__selling__product" src="assets/images/bo_kem_duong_trang.png">
                        <div class="selling__products__spbc text-center pt-3">
                            <p class="selling__products__p--color">Bộ dưỡng da trà xanh</p>
                            <p class="selling__products__p--font">Giá: 500.000 vnđ</p>
                            <p class="text-muted selling__products__p--props">800.000 vnđ</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 homepage__title">
        <strong class="homepage__title__strong">SẢN PHẨM KHUYẾN MÃI</strong>
    </div>
    <div class="row pt-4 new__product--resposive">
        <div class="col-md-3 mb-2">
            <div class="new__product text-center">
                <div>
                    <img class="py-4" src="assets/images/person.png">
                </div>
                <strong class="new__product__strong">HỖ TRỢ BÁN HÀNG</strong>
                <div class="text-white pt-3 div__padding--res">
                    <i class="fa fa-phone new__product__icon" aria-hidden="true"></i>&nbsp;&nbsp;<span>Phone: 0962 180
                        180</span>
                </div>
                <div class="text-white pt-3 div__padding--res">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;<span>Email: info@vmms.vn</span>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3 mb-2">
                    <a href="/detail_product">
                        <img class="img__selling__product" src="assets/images/duong-da.png">
                        <div class="selling__products__spbc text-center pt-3">
                            <p class="selling__products__p--color">Bộ dưỡng da trà xanh</p>
                            <p class="selling__products__p--font">Giá: 500.000 vnđ</p>
                            <p class="text-muted selling__products__p--props">800.000 vnđ</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 mb-2">
                    <a href="/detail_product">
                        <img class="img__selling__product" src="assets/images/image007(45).png">
                        <div class="selling__products__spbc text-center pt-3">
                            <p class="selling__products__p--color">Bộ dưỡng da trà xanh</p>
                            <p class="selling__products__p--font">Giá: 500.000 vnđ</p>
                            <p class="text-muted selling__products__p--props">800.000 vnđ</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 mb-2">
                    <a href="/detail_product">
                        <img class="img__selling__product" src="assets/images/my-pham-cham-sco-da-mat-1 (1).png">
                        <div class="selling__products__spbc text-center pt-3">
                            <p class="selling__products__p--color">Bộ dưỡng da trà xanh</p>
                            <p class="selling__products__p--font">Giá: 500.000 vnđ</p>
                            <p class="text-muted selling__products__p--props">800.000 vnđ</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="/detail_product">
                        <img class="img__selling__product" src="assets/images/bo_kem_duong_trang.png">
                        <div class="selling__products__spbc text-center pt-3">
                            <p class="selling__products__p--color">Bộ dưỡng da trà xanh</p>
                            <p class="selling__products__p--font">Giá: 500.000 vnđ</p>
                            <p class="text-muted selling__products__p--props">800.000 vnđ</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 homepage__title">
        <strong class="homepage__title__strong">SẢN PHẨM BÁN CHẠY</strong>
    </div>
    <div class="row pt-4">
        <div class="col-md-9 new__product--resposive">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <a href="/detail_product">
                        <img class="img__selling__product" src="assets/images/duong-da.png">
                        <div class="selling__products__spbc text-center pt-3">
                            <p class="selling__products__p--color">Bộ dưỡng da trà xanh</p>
                            <p class="selling__products__p--font">Giá: 500.000 vnđ</p>
                            <p class="text-muted selling__products__p--props">800.000 vnđ</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 mb-3">
                    <a href="/detail_product">
                        <img class="img__selling__product" src="assets/images/image007(45).png">
                        <div class="selling__products__spbc text-center pt-3">
                            <p class="selling__products__p--color">Bộ dưỡng da trà xanh</p>
                            <p class="selling__products__p--font">Giá: 500.000 vnđ</p>
                            <p class="text-muted selling__products__p--props">800.000 vnđ</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 mb-3">
                    <a href="/detail_product">
                        <img class="img__selling__product" src="assets/images/my-pham-cham-sco-da-mat-1 (1).png">
                        <div class="selling__products__spbc text-center pt-3">
                            <p class="selling__products__p--color">Bộ dưỡng da trà xanh</p>
                            <p class="selling__products__p--font">Giá: 500.000 vnđ</p>
                            <p class="text-muted selling__products__p--props">800.000 vnđ</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 mb-3">
                    <a href="/detail_product">
                        <img class="img__selling__product" src="assets/images/banner-ban-chay.png">
                        <div class="selling__products__spbc text-center pt-3">
                            <p class="selling__products__p--color">Bộ dưỡng da trà xanh</p>
                            <p class="selling__products__p--font">Giá: 500.000 vnđ</p>
                            <p class="text-muted selling__products__p--props">800.000 vnđ</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <img class="img__banner__product" src="assets/images/banner-ban-chay.png">
        </div>
    </div>
    <div class="mt-5 d-flex homepage__title">
        <strong class="homepage__title__strong">NƯỚC HOA</strong>
        <p class="ml-auto homepage__title__p"><a href="/product">Xem thêm</a></p>
    </div>
    <div class="row pt-4">
        <div class="col-md-3 homepage__product__perfume mb-3">
            <a href="/detail_product">
                <div class="discount">
                    <p>- 10%</p>
                </div>
                <img src="assets/images/nuoc_hoa_1.png">
                <div class="text-center pt-3 perfume">
                    <p class="selling__perfume__p--color">Victoria secrect bombsheell</p>
                    <p class="selling__perfume__p--font">Giá: 500.000 vnđ</p>
                    <p class="text-muted selling__perfume__p--props">800.000 vnđ</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 homepage__product__perfume mb-3">
            <a href="/detail_product">
                <div class="discount">
                    <p>- 10%</p>
                </div>
                <img class="img__homepage__perfume" src="assets/images/nuoc_hoa_2.png">
                <div class="text-center pt-3 perfume">
                    <p class="selling__perfume__p--color">Victoria secrect bombsheell</p>
                    <p class="selling__perfume__p--font">Giá: 500.000 vnđ</p>
                    <p class="text-muted selling__perfume__p--props">800.000 vnđ</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 homepage__product__perfume mb-3">
            <a href="/detail_product">
                <div class="discount">
                    <p>- 10%</p>
                </div>
                <img class="img__homepage__perfume" src="assets/images/nuoc_hoa_3.png">
                <div class="text-center pt-3 perfume">
                    <p class="selling__perfume__p--color">Victoria secrect bombsheell</p>
                    <p class="selling__perfume__p--font">Giá: 500.000 vnđ</p>
                    <p class="text-muted selling__perfume__p--props">800.000 vnđ</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 homepage__product__perfume mb-3">
            <a href="/detail_product">
                <div class="discount">
                    <p>- 10%</p>
                </div>
                <img class="img__homepage__perfume" src="assets/images/nuoc_hoa_4.png">
                <div class="text-center pt-3 perfume">
                    <p class="selling__perfume__p--color">Victoria secrect bombsheell</p>
                    <p class="selling__perfume__p--font">Giá: 500.000 vnđ</p>
                    <p class="text-muted selling__perfume__p--props">800.000 vnđ</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-md-3 homepage__product__perfume mb-3">
            <a href="/detail_product">
                <div class="discount">
                    <p>- 10%</p>
                </div>
                <img class="img__homepage__perfume" src="assets/images/nuoc_hoa_1.png">
                <div class="text-center pt-3 perfume">
                    <p class="selling__perfume__p--color">Victoria secrect bombsheell</p>
                    <p class="selling__perfume__p--font">Giá: 500.000 vnđ</p>
                    <p class="text-muted selling__perfume__p--props">800.000 vnđ</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 homepage__product__perfume mb-3">
            <a href="/detail_product">
                <div class="discount">
                    <p>- 10%</p>
                </div>
                <img class="img__homepage__perfume" src="assets/images/nuoc_hoa_2.png">
                <div class="text-center pt-3 perfume">
                    <p class="selling__perfume__p--color">Victoria secrect bombsheell</p>
                    <p class="selling__perfume__p--font">Giá: 500.000 vnđ</p>
                    <p class="text-muted selling__perfume__p--props">800.000 vnđ</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 homepage__product__perfume mb-3">
            <a href="/detail_product">
                <div class="discount">
                    <p>- 10%</p>
                </div>
                <img class="img__homepage__perfume" src="assets/images/nuoc_hoa_3.png">
                <div class="text-center pt-3 perfume">
                    <p class="selling__perfume__p--color">Victoria secrect bombsheell</p>
                    <p class="selling__perfume__p--font">Giá: 500.000 vnđ</p>
                    <p class="text-muted selling__perfume__p--props">800.000 vnđ</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 homepage__product__perfume mb-3">
            <a href="/detail_product">
                <div class="discount">
                    <p>- 10%</p>
                </div>
                <img class="img__homepage__perfume" src="assets/images/nuoc_hoa_4.png">
                <div class="text-center pt-3 perfume">
                    <p class="selling__perfume__p--color">Victoria secrect bombsheell</p>
                    <p class="selling__perfume__p--font">Giá: 500.000 vnđ</p>
                    <p class="text-muted selling__perfume__p--props">800.000 vnđ</p>
                </div>
            </a>
        </div>
    </div>
    <div class="mt-5 d-flex homepage__title">
        <strong class="homepage__title__strong">CHĂM SÓC DA MẶT</strong>
        <p class="ml-auto homepage__title__p"><a href="/product">Xem thêm</a></p>
    </div>
    <div class="row pt-4">
        <div class="col-md-3 mb-2">
            <a href="/detail_product">
                <img class="img__selling__product" src="assets/images/duong-da.png">
                <div class="selling__products__spbc text-center pt-3">
                    <p class="selling__products__p--color">Victoria secrect bombsheell</p>
                    <p class="selling__products__p--font">Giá: 500.000 vnđ</p>
                    <p class="text-muted selling__products__p--props">800.000 vnđ</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-2">
            <a href="/detail_product">
                <img class="img__selling__product" src="assets/images/image007(45).png">
                <div class="selling__products__spbc text-center pt-3">
                    <p class="selling__products__p--color">Victoria secrect bombsheell</p>
                    <p class="selling__products__p--font">Giá: 500.000 vnđ</p>
                    <p class="text-muted selling__products__p--props">800.000 vnđ</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-2">
            <a href="/detail_product">
                <img class="img__selling__product" src="assets/images/my-pham-cham-sco-da-mat-1 (1).png">
                <div class="selling__products__spbc text-center pt-3">
                    <p class="selling__products__p--color">Victoria secrect bombsheell</p>
                    <p class="selling__products__p--font">Giá: 500.000 vnđ</p>
                    <p class="text-muted selling__products__p--props">800.000 vnđ</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-2">
            <a href="/detail_product">
                <img class="img__selling__product" src="assets/images/bo_kem_duong_trang.png">
                <div class="selling__products__spbc text-center pt-3">
                    <p class="selling__products__p--color">Victoria secrect bombsheell</p>
                    <p class="selling__products__p--font">Giá: 500.000 vnđ</p>
                    <p class="text-muted selling__products__p--props">800.000 vnđ</p>
                </div>
            </a>
        </div>
    </div>
    <div class="mt-5 d-flex homepage__title">
        <strong class="homepage__title__strong">DÀNH CHO NAM</strong>
        <p class="ml-auto homepage__title__p"><a href="/product">Xem thêm</a></p>
    </div>
    <div class="row pt-4">
        <div class="col-md-3 mb-2">
            <a href="/detail_product">
                <img class="img__selling__product" src="assets/images/Kem-duong-da-cho-nam.png">
                <div class="selling__products__spbc text-center pt-3">
                    <p class="selling__products__p--color">Victoria secrect bombsheell</p>
                    <p class="selling__products__p--font">Giá: 500.000 vnđ</p>
                    <p class="text-muted selling__products__p--props">800.000 vnđ</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-2">
            <a href="/detail_product">
                <img class="img__selling__product" src="assets/images/kem-duong-da-nam.png">
                <div class="selling__products__spbc text-center pt-3">
                    <p class="selling__products__p--color">Victoria secrect bombsheell</p>
                    <p class="selling__products__p--font">Giá: 500.000 vnđ</p>
                    <p class="text-muted selling__products__p--props">800.000 vnđ</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-2">
            <a href="/detail_product">
                <img class="img__selling__product" src="assets/images/son-duong-moi-nivea.png">
                <div class="selling__products__spbc text-center pt-3">
                    <p class="selling__products__p--color">Victoria secrect bombsheell</p>
                    <p class="selling__products__p--font">Giá: 500.000 vnđ</p>
                    <p class="text-muted selling__products__p--props">800.000 vnđ</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-2">
            <a href="/detail_product">
                <img class="img__selling__product" src="assets/images/my-pham-dd.png">
                <div class="selling__products__spbc text-center pt-3">
                    <p class="selling__products__p--color">Victoria secrect bombsheell</p>
                    <p class="selling__products__p--font">Giá: 500.000 vnđ</p>
                    <p class="text-muted selling__products__p--props">800.000 vnđ</p>
                </div>
            </a>
        </div>
    </div>
</div>