<div class="container cover__all__detail_product">
    <div class="title__page">
        <p><a href="home">Trang chủ</a> > Chăm sóc mặt > Green tea</p>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-xl-7">
                <div class="row">
                    <div class="col-7 pl-0">
                        <div class="block_img_detail">
                            <img src="assets/images/tra@3x.png" id="img_Main_Side" class="block_img_detail__img_big">
                            <div class="row pl-0 img">
                                <div class="col-xl-2.6 block_img_detail__block_img_smail">
                                    <img id="anh_Slide" src="assets/images/tra@3x.png"
                                        class="block_img_detail__img_small" (click)="clickSilde($event)">
                                </div>
                                <div class="col-xl-2.6 block_img_detail__block_img_smail">
                                    <img id="anh_Slide" src="assets/images/duong-da@3x.png"
                                        class="block_img_detail__img_small" (click)="clickSilde($event)">
                                </div>
                                <div class="col-xl-2.6 block_img_detail__block_img_smail">
                                    <img id="anh_Slide" src="assets/images/my-pham-cham-sco-da-mat-1 (1)@3x.png"
                                        class="block_img_detail__img_small" (click)="clickSilde($event)">
                                </div>
                                <div class="col-xl-2.6 block_img_detail__block_img_smail">
                                    <img id="anh_Slide" src="assets/images/my-pham-cham-sco-da-mat-1 (1)@3x.png"
                                        class="block_img_detail__img_small" (click)="clickSilde($event)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 pl-0">
                        <div class="description">
                            <div class="description__title__product">
                                <span> Chăm sóc da mặt</span>
                            </div>
                            <div class="description__describe__product">
                                <p>Trọng lượng</p>
                                <p class="p">Trọng lượng: 0,1 kg</p>
                            </div>
                            <div class="description__describe__product">
                                <p>Màu sắc</p>
                                <p class="p">Màu sắc: xanh</p>
                            </div>
                            <div class="description__describe__product">
                                <p>Nơi sản xuất</p>
                                <p class="p">Nơi sản xuất: Hàn Quốc</p>
                            </div>
                            <div class="description__describe__product">
                                <p class="p">Mô tả thêm</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pl-0">
                        <div class="green-tea">
                            <p class="green-tea-title pt-4 ">Green tea</p>
                            <p class="green-tea__count mt-4 ml-3">14</p>
                            <p class="green-tea__price">Giá: 500.000 vnđ</p>
                            <input class="green-tea__quantity" type="number" value="1" min="1" name=""
                                style="background: url('../../../../assets/icons/arrow.png') no-repeat right #ffffff;background-position-x: 55px">
                            <a href="/checkout">
                                <input class="green-tea__bye__now" type="submit" value="Mua ngay" name="">
                            </a>
                            <a href="/cart">
                                <input class="green-tea__add_tocart" type="submit" value="Thêm vào giỏ hàng">
                            </a>
                        </div>
                        <div style="margin-top: 210px"></div>
                        <div class="row ml-1">
                            <div class="col-xl-9  pl-0">
                                <p class="comment__contact__count__finter">0 bình luận<br>
                            </div>
                            <div class="col-xl-3 pl-0 d-flex">
                                <p class="comment_2ntact__count__finter mr-2">Sắp xếp<br>
                                <div class="">
                                    <select class="Rectangle__select pl-1">
                                        <option>Cũ nhất</option>
                                    </select>
                                </div>
                            </div>
                            <div class="comment__detail__brick"></div>
                        </div>
                        <div class="col-xl-12">
                            <div class="row">
                                <div class="col-1 pl-0">
                                    <div>
                                        <img src="assets/icons/Mask Group 25@2x.png" class="comment__contact__Mask">
                                    </div>
                                </div>
                                <div class="col-11 ">
                                    <div>
                                        <input style="margin-left: 32px; width: 97%"
                                            class="comment__contact__input pl-2" type="text" name=""
                                            placeholder=" Thêm bình luận...">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block__tabs">
                            <div class="nav block__tabs__boder_bot">
                                <span class="active tabs" data-toggle="tab" href="#info">Thông tin</span>
                                <span class="tabs" data-toggle="tab" href="#comment" aria-controls="profile"
                                    aria-selected="false">Bình luận</span>
                            </div>
                            <div class="tab-content" id="myTabContent">
                                <div style="margin-bottom: 128px" class="tab-pane fade show active pb-5" id="info"
                                    role="tabpanel" aria-labelledby="home-tab">
                                    <div style="margin-top: 15px">❤️SON SIÊU DƯỠNG GẤC DỀN MẸ KEN❤️</div>
                                    💋 DÙ son có màu nhưng son MẸ KEN luôn là cây son dưỡng trị thâm có thể ăn được. Nếu
                                    bạn nào khoái các dòng son cao cấp như TomFord, Chanel, Dior, ... Thì cũng không nên
                                    bỏ qua cây son không màu chống thâm môi GẤC DỀN MẸ KEN bên dưới lớp son màu của bạn
                                    để giữ môi không bị khô, thâm, chống nắng cho môi với thành phần tự nhiên nhất <3
                                        THÀNH PHẦN : Tinh dầu cà rốt, tinh dền, tinh gấc, dầu bơ, bơ shea, dầu hạnh
                                        nhân, dầu nho, dầu cám gạo, dầu argan, dầu olive, sáp ong, dầu dừa, vitamin E,
                                        ... 💞TẤT CẢ CÁC CÂY SON MẸ KEN luôn đạt đủ những yêu cầu đưa ra 💄Chống thâm,
                                        trị thâm, dưỡng ẩm, mềm mướt với thành phần cực cao của tinh dầu cám gạo, hạnh
                                        nhân, jojoba, tinh gấc, dền, ...<br>
                                        💄Chống nắng tự nhiên, giúp son bạn đánh ngoài lên màu chuẩn nhất
                                        💄Môi thơm ngọt ngào với mùi thơm tự nhiên của các loại dầu nho, dừa..
                                        💄GIÁ mềm nhất trên thị trường nhưng cây son lại mang thành phần dưỡng cực cao
                                        Tất cả son MẸ KEN đều đã được Sở Y Tế chứng nhận sản phẩm có thể ăn được, an
                                        toàn tuyệt đối cho người sử dụng.💞<br>
                                        Giá bán lẻ :<br>
                                        Son không màu : 140k<br>
                                        Son có màu : 150k<br>
                                        ----------------------------------------------------------------------------<br>
                                        :) Tư vấn nhiệt tình - Chu đáo - Chuyên nghiệp<br>
                                        :) Tuyển Sỉ - Đại lý - CTV toàn quốc<br>
                                        :) Giá theo qui định trên toàn hệ thống Mẹ Ken<br>
                                        ☎ Liên hệ tư vấn 0964705736 (zalo/viper/sms/fb)<br>
                                </div>
                                <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-7 pl-0 p">
                                                <p class="tabs__comment__title">Gửi bình luận</p>
                                                <input class="tabs__comment__input" type="text" placeholder="Họ tên"
                                                    name="">
                                                <input class="tabs__comment__input" type="text" placeholder="Email"
                                                    name="">
                                                <textarea style="height: 80px" class="tabs__comment__input"
                                                    placeholder="Nội dung"></textarea>
                                                <div class="col-12 pl-0">
                                                    <input class="tabs__comment__submit" type="submit" value="Gửi">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="row ml-3">
                    <div class="col-md-6 block__suggestions_mobile">
                        <div class=" block__suggestions pr-0">
                            <img src="assets/images/duong-da@3x.png">
                            <a href="product">
                                <p class="block__suggestions__title__product__offer">Bộ dưỡng da trà xanh</p>
                            </a>
                            <p class="block__suggestions__price__new">Giá: 500.000 vnđ</p>
                            <p class="block__suggestions__price__brick">800.000 vnđ</p>
                        </div>
                    </div>
                    <div class="col-md-6 block__suggestions_mobile">
                        <div class=" block__suggestions pr-0">
                            <img src="assets/images/image007(45)@3x.png">
                            <a href="product">
                                <p class="block__suggestions__title__product__offer">Bộ dưỡng da trà xanh</p>
                            </a>
                            <p class="block__suggestions__price__new">Giá: 500.000 vnđ</p>
                            <p class="block__suggestions__price__brick">800.000 vnđ</p>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 40px" class="row ml-3">
                    <div class="col-md-6 block__suggestions_mobile">
                        <div class=" block__suggestions pr-0">
                            <img src="assets/images/duong-da@3x.png">
                            <a href="product">
                                <p class="block__suggestions__title__product__offer">Bộ dưỡng da trà xanh</p>
                            </a>
                            <p class="block__suggestions__price__new">Giá: 500.000 vnđ</p>
                            <p class="block__suggestions__price__brick">800.000 vnđ</p>
                        </div>
                    </div>
                    <div class="col-md-6 block__suggestions_mobile">
                        <div class=" block__suggestions pr-0">
                            <img src="assets/images/image007(45)@3x.png">
                            <a href="product">
                                <p class="block__suggestions__title__product__offer">Bộ dưỡng da trà xanh</p>
                            </a>
                            <p class="block__suggestions__price__new">Giá: 500.000 vnđ</p>
                            <p class="block__suggestions__price__brick">800.000 vnđ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>