<div class="homepage">
  <div class="menu_title">
    <p>DANH MỤC</p>
  </div>
  <div class="btn-group dropright menu_child">
    <div class="dropdown-toggle div_menu_child d-flex" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      TRANG ĐIỂM
      <i class="fa fa-chevron-right icon_right ml-auto" aria-hidden="true"></i>
    </div>
    <div>
      <app-dropright-menu-detail></app-dropright-menu-detail>
    </div>
  </div>
  <div class="btn-group dropright menu_child">
    <div class="dropdown-toggle div_menu_child d-flex" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      NƯỚC HOA
      <i class="fa fa-chevron-right icon_right ml-auto" aria-hidden="true"></i>
    </div>
    <div>
      <app-dropright-menu-detail></app-dropright-menu-detail>
    </div>
  </div>
  <div class="btn-group dropright menu_child">
    <div class="dropdown-toggle div_menu_child d-flex" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      CHĂM SÓC DA MẶT
      <i class="fa fa-chevron-right icon_right ml-auto" aria-hidden="true"></i>
    </div>
    <div>
      <app-dropright-menu-detail></app-dropright-menu-detail>
    </div>
  </div>
  <div class="btn-group dropright menu_child">
    <div class="dropdown-toggle div_menu_child d-flex" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      DƯỠNG DA
      <i class="fa fa-chevron-right icon_right ml-auto" aria-hidden="true"></i>
    </div>
    <div>
      <app-dropright-menu-detail></app-dropright-menu-detail>
    </div>
  </div>
  <div class="btn-group dropright menu_child">
    <div class="dropdown-toggle div_menu_child d-flex" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      DÀNH CHO NAM
      <i class="fa fa-chevron-right icon_right ml-auto" aria-hidden="true"></i>
    </div>
    <div>
      <app-dropright-menu-detail></app-dropright-menu-detail>
    </div>
  </div>
  <div class="btn-group dropright menu_child">
    <div class="dropdown-toggle div_menu_child d-flex" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      CHĂM SÓC TÓC
    </div>
  </div>
  <div class="btn-group dropright menu_child">
    <div class="dropdown-toggle div_menu_child d-flex" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      CHĂM SÓC MÓNG
    </div>
  </div>
  <div class="btn-group dropright menu_child">
    <div class="dropdown-toggle div_menu_child d-flex" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      PHỤ KIỆN NỮ
    </div>
  </div>
  <div class="btn-group dropright menu_child">
    <div class="dropdown-toggle div_menu_child d-flex" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      TINH DẦU & SPA
    </div>
  </div>
  <div class="btn-group dropright menu_child">
    <div class="dropdown-toggle div_menu_child d-flex" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      XEM THÊM
      <i class="fa fa-plus icon_right ml-auto" aria-hidden="true"></i>
    </div>
  </div>
</div>