<div class="content__product">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-12 mb-2">
      <a routerLink="/detail_product">
        <img class="img__product div__img--hover" src="assets/images/product.png"
          style="background-image: url('../../../../assets/images/nuoc_hoa_1.png');background-size: cover;">
        <div class="text-center pt-3 perfume__product">
          <p class="perfume__product__p--color">Bộ dưỡng trà xanh</p>
          <p class="perfume__product__p--font">Giá: 500.000 vnđ</p>
          <p class="text-muted perfume__product__p--props">800.000 vnđ</p>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-2">
      <a routerLink="/detail_product">
        <img class="img__product div__img--hover" src="assets/images/product.png"
          style="background-image: url('../../../../../assets/images/nuoc_hoa_2.png');background-size: cover;">
        <div class="text-center pt-3 perfume__product">
          <p class="perfume__product__p--color">Bộ dưỡng trà xanh</p>
          <p class="perfume__product__p--font">Giá: 500.000 vnđ</p>
          <p class="text-muted perfume__product__p--props">800.000 vnđ</p>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-2">
      <a routerLink="/detail_product">
        <img class="img__product div__img--hover" src="assets/images/product.png"
          style="background-image: url('../../../../../assets/images/nuoc_hoa_2.png');background-size: cover;">
        <div class="text-center pt-3 perfume__product">
          <p class="perfume__product__p--color">Bộ dưỡng trà xanh</p>
          <p class="perfume__product__p--font">Giá: 500.000 vnđ</p>
          <p class="text-muted perfume__product__p--props">800.000 vnđ</p>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-2">
      <a routerLink="/detail_product">
        <img class="img__product div__img--hover" src="assets/images/product.png"
          style="background-image: url('../../../../assets/images/nuoc_hoa_4.png');background-size: cover;">
        <div class="text-center pt-3 perfume__product">
          <p class="perfume__product__p--color">Bộ dưỡng trà xanh</p>
          <p class="perfume__product__p--font">Giá: 500.000 vnđ</p>
          <p class="text-muted perfume__product__p--props">800.000 vnđ</p>
        </div>
      </a>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-3 col-md-6 col-12 mb-2">
      <a routerLink="/detail_product">
        <img class="img__product div__img--hover" src="assets/images/product.png"
          style="background-image: url('../../../../assets/images/nuoc_hoa_1.png');background-size: cover;">
        <div class="text-center pt-3 perfume__product">
          <p class="perfume__product__p--color">Bộ dưỡng trà xanh</p>
          <p class="perfume__product__p--font">Giá: 500.000 vnđ</p>
          <p class="text-muted perfume__product__p--props">800.000 vnđ</p>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-2">
      <a routerLink="/detail_product">
        <img class="img__product div__img--hover" src="assets/images/product.png"
          style="background-image: url('../../../../assets/images/nuoc_hoa_2.png');background-size: cover;">
        <div class="text-center pt-3 perfume__product">
          <p class="perfume__product__p--color">Bộ dưỡng trà xanh</p>
          <p class="perfume__product__p--font">Giá: 500.000 vnđ</p>
          <p class="text-muted perfume__product__p--props">800.000 vnđ</p>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-2">
      <a routerLink="/detail_product">
        <img class="img__product div__img--hover" src="assets/images/product.png"
          style="background-image: url('../../../../../assets/images/nuoc_hoa_2.png');background-size: cover;">
        <div class="text-center pt-3 perfume__product">
          <p class="perfume__product__p--color">Bộ dưỡng trà xanh</p>
          <p class="perfume__product__p--font">Giá: 500.000 vnđ</p>
          <p class="text-muted perfume__product__p--props">800.000 vnđ</p>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-2">
      <a routerLink="/detail_product">
        <img class="img__product div__img--hover" src="assets/images/product.png"
          style="background-image: url('../../../../assets/images/nuoc_hoa_4.png');background-size: cover;">
        <div class="text-center pt-3 perfume__product">
          <p class="perfume__product__p--color">Bộ dưỡng trà xanh</p>
          <p class="perfume__product__p--font">Giá: 500.000 vnđ</p>
          <p class="text-muted perfume__product__p--props">800.000 vnđ</p>
        </div>
      </a>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-3 col-md-6 col-12 mb-2">
      <a routerLink="/detail_product">
        <img class="img__product div__img--hover" src="assets/images/product.png"
          style="background-image: url('../../../../assets/images/nuoc_hoa_1.png');background-size: cover;">
        <div class="text-center pt-3 perfume__product">
          <p class="perfume__product__p--color">Bộ dưỡng trà xanh</p>
          <p class="perfume__product__p--font">Giá: 500.000 vnđ</p>
          <p class="text-muted perfume__product__p--props">800.000 vnđ</p>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-2">
      <a routerLink="/detail_product">
        <img class="img__product div__img--hover" src="assets/images/product.png"
          style="background-image: url('../../../../assets/images/nuoc_hoa_2.png');background-size: cover;">
        <div class="text-center pt-3 perfume__product">
          <p class="perfume__product__p--color">Bộ dưỡng trà xanh</p>
          <p class="perfume__product__p--font">Giá: 500.000 vnđ</p>
          <p class="text-muted perfume__product__p--props">800.000 vnđ</p>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-2">
      <a routerLink="/detail_product">
        <img class="img__product div__img--hover" src="assets/images/product.png"
          style="background-image: url('../../../../../assets/images/nuoc_hoa_2.png');background-size: cover;">
        <div class="text-center pt-3 perfume__product">
          <p class="perfume__product__p--color">Bộ dưỡng trà xanh</p>
          <p class="perfume__product__p--font">Giá: 500.000 vnđ</p>
          <p class="text-muted perfume__product__p--props">800.000 vnđ</p>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-2">
      <a routerLink="/detail_product">
        <img class="img__product div__img--hover" src="assets/images/product.png"
          style="background-image: url('../../../../assets/images/nuoc_hoa_4.png');background-size: cover;">
        <div class="text-center pt-3 perfume__product">
          <p class="perfume__product__p--color">Bộ dưỡng trà xanh</p>
          <p class="perfume__product__p--font">Giá: 500.000 vnđ</p>
          <p class="text-muted perfume__product__p--props">800.000 vnđ</p>
        </div>
      </a>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-3 col-md-6 col-12 mb-2">
      <a routerLink="/detail_product">
        <img class="img__product div__img--hover" src="assets/images/product.png"
          style="background-image: url('../../../../assets/images/nuoc_hoa_1.png');background-size: cover;">
        <div class="text-center pt-3 perfume__product">
          <p class="perfume__product__p--color">Bộ dưỡng trà xanh</p>
          <p class="perfume__product__p--font">Giá: 500.000 vnđ</p>
          <p class="text-muted perfume__product__p--props">800.000 vnđ</p>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-2">
      <a routerLink="/detail_product">
        <img class="img__product div__img--hover" src="assets/images/product.png"
          style="background-image: url('../../../../assets/images/nuoc_hoa_2.png');background-size: cover;">
        <div class="text-center pt-3 perfume__product">
          <p class="perfume__product__p--color">Bộ dưỡng trà xanh</p>
          <p class="perfume__product__p--font">Giá: 500.000 vnđ</p>
          <p class="text-muted perfume__product__p--props">800.000 vnđ</p>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-2">
      <a routerLink="/detail_product">
        <img class="img__product div__img--hover" src="assets/images/product.png"
          style="background-image: url('../../../../../assets/images/nuoc_hoa_2.png');background-size: cover;">
        <div class="text-center pt-3 perfume__product">
          <p class="perfume__product__p--color">Bộ dưỡng trà xanh</p>
          <p class="perfume__product__p--font">Giá: 500.000 vnđ</p>
          <p class="text-muted perfume__product__p--props">800.000 vnđ</p>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-2">
      <a routerLink="/detail_product">
        <img class="img__product div__img--hover" src="assets/images/product.png"
          style="background-image: url('../../../../assets/images/nuoc_hoa_4.png');background-size: cover;">
        <div class="text-center pt-3 perfume__product">
          <p class="perfume__product__p--color">Bộ dưỡng trà xanh</p>
          <p class="perfume__product__p--font">Giá: 500.000 vnđ</p>
          <p class="text-muted perfume__product__p--props">800.000 vnđ</p>
        </div>
      </a>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-3 col-md-6 col-12 mb-2">
      <a routerLink="/detail_product">
        <img class="img__product div__img--hover" src="assets/images/product.png"
          style="background-image: url('../../../../assets/images/nuoc_hoa_1.png');background-size: cover;">
        <div class="text-center pt-3 perfume__product">
          <p class="perfume__product__p--color">Bộ dưỡng trà xanh</p>
          <p class="perfume__product__p--font">Giá: 500.000 vnđ</p>
          <p class="text-muted perfume__product__p--props">800.000 vnđ</p>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-2">
      <a routerLink="/detail_product">
        <img class="img__product div__img--hover" src="assets/images/product.png"
          style="background-image: url('../../../../assets/images/nuoc_hoa_2.png');background-size: cover;">
        <div class="text-center pt-3 perfume__product">
          <p class="perfume__product__p--color">Bộ dưỡng trà xanh</p>
          <p class="perfume__product__p--font">Giá: 500.000 vnđ</p>
          <p class="text-muted perfume__product__p--props">800.000 vnđ</p>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-2">
      <a routerLink="/detail_product">
        <img class="img__product div__img--hover" src="assets/images/product.png"
          style="background-image: url('../../../../../assets/images/nuoc_hoa_2.png');background-size: cover;">
        <div class="text-center pt-3 perfume__product">
          <p class="perfume__product__p--color">Bộ dưỡng trà xanh</p>
          <p class="perfume__product__p--font">Giá: 500.000 vnđ</p>
          <p class="text-muted perfume__product__p--props">800.000 vnđ</p>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-2">
      <a routerLink="/detail_product">
        <img class="img__product div__img--hover" src="assets/images/product.png"
          style="background-image: url('../../../../assets/images/nuoc_hoa_4.png');background-size: cover;">
        <div class="text-center pt-3 perfume__product">
          <p class="perfume__product__p--color">Bộ dưỡng trà xanh</p>
          <p class="perfume__product__p--font">Giá: 500.000 vnđ</p>
          <p class="text-muted perfume__product__p--props">800.000 vnđ</p>
        </div>
      </a>
    </div>
  </div>
</div>